<div class="mb-32">
  <h2 class="flex text-center text-3xl font-semibold mb-6 gap-x-2 items-center">
    About Me
  </h2>

  <p class="text-lg text-gray-800 dark:text-white/80 leading-relaxed max-w-2xl">
    I'm a <span class="font-semibold">self-taught full-stack developer</span> passionate
    about building efficient, scalable, and user-friendly web applications.
    <br /><br />
    My primary focus is frontend development using <span
      class="font-medium text-blue-600 dark:text-blue-400"
      >React, Astro and Tailwind CSS</span
    >, but I also have experience in backend development with <span
      class="font-medium text-blue-600 dark:text-blue-400"
      >Node.js and Express</span
    >.
    <br /><br />
    I'm always eager to explore new technologies and frameworks to optimize my projects,
    improve performance, and enhance accessibility.
  </p>
</div>
